  @font-face {
    font-family: 'Yugly';
    src: url(Yugly.ttf);
  }
  
  @font-face {
    font-family: 'PWChalk';
    src: url(PWChalk.ttf);
  }

  @font-face {
    font-family: 'Effortless';
    src: url(effortless.ttf);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  #root {
    min-height: 100vh;
    background-image: url(Wallpapper2.jpg);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f93b97;
    background: rgb(249,59,151);
    background: linear-gradient(90deg, rgba(249,59,151,1) 0%, rgba(161,249,59,1) 43%, rgba(161,249,59,1) 57%, rgba(249,59,151,1) 100%);
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a1f93b;
    color: black;
    font-family: 'PWChalk';
  }
  
  nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  nav li a:hover {
    background-color: #a1df1f;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #c52869;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .NewsAndEvent-wrapper {
    margin-top: 50px;
  }

  .Content {
    width: 80%;
    margin: 50px auto 0;
    padding: 0 0 30px;
  }
  
  .Header {
    font-family: 'Yugly';
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .Scoreboard-wrapper {
    margin-top: 80px;
    padding: 20px 150px;
    border: 8px solid #aa6c01;
    border-image: linear-gradient(to bottom, rgba(67,255,248,1), rgba(250,6,255,1)) 1;
    border-radius: 5px;
    font-family: 'PWChalk';
    font-size: 30px;
  }
  
  .NewsAndEvent-wrapper {
    margin-top: 100px;
  }
  
  .NewsAndEvent {
    font-family: 'PWChalk';
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  .play-section {
    margin: 100px 0;
  }
  
  .button-3 {
    appearance: none;
    background-color: #3ca2fc;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Yugly';
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    padding: 16px 26px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-3:hover {
    background-color: #3181c6;
  }
  
  .button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .button-3:disabled {
    background-color: #3ca2fc;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button-3:active {
    background-color: #3ca2fc;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
  
  .Wait-Text {
    margin-top: 100px;
    font-family: 'Yugly';
    font-size: 80px;
    color: white;
  }

  .Center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Form {
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }



  .form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }

  .form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 100px 10px 100px 250px;
    padding: 16px 25px;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 40%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    background-color: #3ca2fc;
    display: inline-block;

    box-shadow: inset 0 0 0 0 #3ca2fc,
			0 0 0 0 #3ca2fc,
			3px -3px 30px #1beabd, 
			-3px 3px 30px #10abff;
  }

  .login-page button {
    display: inline-block;
  }

  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    background-color: #3ca2fc;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }

  .button-4 {
    appearance: none;
    background-color: #3ca2fc;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Yugly';
    font-size: 30px;
    font-weight: 600;
    line-height: 29px;
    padding: 16px 26px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .button-4:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-4:hover {
    background-color: #3181c6;
  }
  
  .button-4:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .button-4:disabled {
    background-color: #3ca2fc;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button-4:active {
    background-color: #3ca2fc;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  .ButtonsWrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 80px;
  }
  .ButtonsWrapper button {
    margin: 0 20px;
  }
  .GameInfo {
    color: white;
    font-family: 'Effortless';
    font-size: 30px;
    font-weight: 600;
  }


  .itemList .inputItem {
    padding-left: 20px;
  }

  .itemHeader {
    margin-top: 20px;
    font-family: 'Yugly';
    font-size: 50px;
  }

  .FormCenterer {
    justify-content: center;
    align-content: center;
    display: flex;
    height: 70px;
    margin-bottom: 60px;
  }

  .form__input2 {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin-right: 20px;
    padding: 16px 25px;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 40%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    background-color: #3ca2fc;
    display: inline-block;

    box-shadow: inset 0 0 0 0 #3ca2fc,
			0 0 0 0 #3ca2fc,
			3px -3px 30px #1beabd, 
			-3px 3px 30px #10abff;
  }

  .form__input2:placeholder-shown + .form__label {
    opacity: 0;
    background-color: #3ca2fc;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
