* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.itemList {
    margin-top: 15px;
    margin-bottom: 15px;
}

.inputItem {
    display: flex;
    padding: 15px;
    border: 2px solid black;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
