  .WaitText {
    margin-top: 100px;
    font-family: 'Yugly';
    font-size: 80px;
    color: white;
  }
  .LoginPage button {
    display: inline-block;
  }
  .ButtonsWrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 80px;
  }
  .ButtonsWrapper button {
    margin: 0 20px;
  }
  .GameInfo {
    flex: 50%;
    color: white;
    font-family: 'Effortless';
    font-size: 30px;
    font-weight: 600;
  }
  .FormCenterer {
    padding: 30px;
    justify-content: center;
    align-content: center;
    display: flex;
    height: 70px;
    margin-bottom: 30px;
  }

  .FormInputWider {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin-right: 20px;
    padding: 16px 25px;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 40%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    background-color: #3ca2fc;
    display: inline-block;

    box-shadow: inset 0 0 0 0 #3ca2fc,
			0 0 0 0 #3ca2fc,
			3px -3px 30px #1beabd, 
			-3px 3px 30px #10abff;
  }

  .FormInputWider:placeholder-shown + .FormLabel {
    opacity: 0;
    background-color: #3ca2fc;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  .VoteWrapper p {
    padding-left: 10px;
  }



  .secretWord {
    font-size: 20px;
    color: #edfc1e;
    margin-left: 10px;
  }

  .HPSection {
    font-family: 'PWChalk';
    font-size: 50px;
    margin: 25px 0;
  }


  .YNStat {
    margin: 15px 0;
  }
  .YNStat p {
    display: inline-block;
    margin: 0 20px;
  }
  .RoundSection {
    margin: 20px 0 50px 0;
  }
  .RoundSection button {
    margin: 0 24px;
  }

  .ChatSpace {
    flex: 50%;
  }
  .QuestionText {
    font-size: 40px;
  }
  .Answers div {
    display: inline-block;
    margin: 0 20px;
  }
  .QuestionBlock {
    margin: 0 0 50px;
  }
  .itemHeader {
    margin-top: 20px;
    font-family: 'Yugly';
    font-size: 50px;
  }
